<h5>{{ bookTitle }}</h5>
<table class="table table-bordered table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Issue</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Condition</th>
      <th>Value</th>
      <th>Box</th>
      <th>Notes</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; index as i">
      <th scope="row">{{ book.issue }}</th>
      <td>{{ book.price}}</td>
      <td>{{ book.qty }}</td>
      <td>{{ book.condition }}</td>
      <td>{{ book.value }}</td>
      <td>{{ book.box }}</td>
      <td>{{ book.date}}</td>
      <td>
        <button class="btn btn-default">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
        <button class="btn btn-default">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>