<!-- this will use template way of creating the form -->

<h3>Add Book</h3>
<hr/>
<form novalidate (ngSubmit)="onSubmit(addForm)" #addForm="ngForm">
    <div class="row form-group">
      <div class="col-md-4">
        <label for="bookTitle" class="required">Title</label><span class="text-danger pull-right" *ngIf="!bookTitle.valid && bookTitle.touched">Required</span>
        <input 
          name="bookTitle"
          id="bookTitle"
          [(ngModel)]="selectedTitle"
          [typeahead]="bookList"
          class="form-control"
          required
          #bookTitle="ngModel">
      </div>
      <div class="col-md-4">
        <label for="publisher" >Publisher</label><span class="text-danger pull-right" *ngIf="!publisher.valid && publisher.touched">Required</span>
        <input
          id="publisher"
          name="publisher"
          class="form-control"
          [(ngModel)]="selectedPublisher"
          [(typeahead)]="publisherList"
          ngModel
          #publisher="ngModel"
          />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">{{issue.length}}
        <label for="issue" class="required">Issue </label><span class="text-danger pull-right" *ngIf="!issue.valid && issue.touched">Invalid input</span>
        <input
          type="number"
          id="issue"
          name="issue"
          #issue="ngModel"
          class="form-control"
          required
          ngModel
          pattern="^\d{4}"
          />
      </div> 
      <div class="col-md-4">
          <label for="qty">Qty</label>
          <input
            type="number"
            min="0"
            max="100"
            id="qty"
            name="qty"
            class="form-control"
            ngModel
            />
        </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <label for="condition">Condition</label>
        <input
          id="condition"
          name="condition"
          class="form-control"
          [(ngModel)] = "selectedCondition"
          [(typeahead)] = "conditionList"
          ngModel
          #condition = "ngModel"
          />
      </div>
      <div class="col-md-4">
        <label for="value">Value</label>
        <input
          id="value"
          name="value"
          class="form-control"
          ngModel
          />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-11">
        <label for="notes">Notes</label>
        <textarea
          id="notes"
          name="notes"
          class="form-control"
          ngModel>
        </textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">
        <div class="text-right">
          <button type="submit" 
            class="btn btn-primary"
            [disabled]="!addForm.valid">
            Add</button>
        </div>
      </div>
    </div>
</form>
<app-result-table></app-result-table>