<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
        <h2>{{ pageTitle }}</h2>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-most-valuable-issues></app-most-valuable-issues>
    </div>
    <div class="col-md-4">
      <app-value-by-publisher></app-value-by-publisher>
    </div>
    <div class="col-md-4">
      <app-value-of-collection></app-value-of-collection>
    </div>
  </div>
  <div class="row">
    <app-chart></app-chart>
  </div>
</div>