<h5>Value by Publisher</h5>
<table class="table table-sm">
    <tr>
      <th>Publisher</th>
      <th class="text-right">Total Issues</th>
      <th class="text-right">Total Worth</th>
    </tr>
    <tbody class="table-striped">
        <tr>
          <td>DC</td>
          <td class="text-right">500</td>
          <td class="text-right">100</td>
        </tr>
        <tr>
          <td>Marvel</td>
          <td class="text-right">500</td>
          <td class="text-right">500</td>
        </tr>
      </tbody>
  </table>
  <div class="row">
      <div class="col-md-4">
          Total:
      </div>
      <div class="col-md-4 text-right">
        1000
    </div>
      <div class="col-md-4 text-right">
          600
      </div>
  </div>